@{
    ViewBag.Title = "Contact";
}
<img src="~/Content/Images/large_1.jpg" width="1400" height="400" style="width: 100%;
    height: auto;">
<link rel="stylesheet" href="~/Content/font awesome/css/font-awesome.css" charset="utf-8">
<style type="text/css">
    .section-features {
        margin: 50px 0;
    }

        .section-features .card {
            width: 100%;
            min-height: 390px;
            padding: 10px 30px;
            border: 1px solid #DDDDDD;
            border-radius: 10px;
            margin-top: 30px;
            text-align: center;
        }

            .section-features .card .icon i {
                font-size: 63px;
                color: #9a9a9a;
                width: 85px;
                height: 85px;
                line-height: 80px;
                text-align: center;
                border-radius: 50%;
                margin: 0 auto;
                margin-top: 20px;
            }

            .section-features .card.card-blue {
                border-color: #CCE7F5;
            }

                .section-features .card.card-blue .icon i {
                    color: #00bbff;
                }

            .section-features .card.card-green {
                border-color: #BDF8C0;
            }

                .section-features .card.card-green .icon i {
                    color: #3ABE41;
                }

            .section-features .card.card-orange {
                border-color: #FAD9CD;
            }

                .section-features .card.card-orange .icon i {
                    color: #ff967f;
                }

            .section-features .card.card-red {
                border-color: #FFBFC3;
            }

    .landing-page .section-features .card.card-red .icon i {
        color: #E01724;
    }

    .section-features .card h4 {
        font-weight: 300;
        font-size: 18px;
        margin: 30px 0 -15px;
    }

    .section-features .card p {
        font-size: 16px;
        line-height: 22px;
        color: #777;
    }

    .header-text {
        text-transform: uppercase;
        font-weight: 200;
        color: #333;
        margin-bottom: 20px;
        font-size: 30px;
        position: relative;
        line-height: 24px;
    }

    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple, a, .td-name, td {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: "Helvetica Neue","Open Sans",Arial,sans-serif;
    }

    h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
        font-weight: 400;
        margin: 30px 0 15px;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
    }

    h4, .h4 {
        font-size: 22px;
        line-height: 30px;
    }
</style>
<div class="section-features">
    <div class="container">
        <h4 class="header-text text-center">Contact Us</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="fa fa-phone fa-4x"></i>
                    </div>
                    <div class="text">
                        <h4>CALL ME</h4>
                        <br><br>
                        <p>094-9381221</p>
                        <p>Or 083-5674551</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="fa fa-envelope-o  fa-4x"></i>
                    </div>
                    <h4>EMAIL</h4>
                    <br><br>
                    <p>pathompob.nutchanat@gmail.com</p>
                    <p>Or thanawat_pinya@outlook.com</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="fa fa-location-arrow  fa-4x"></i>
                    </div>
                    <h4>ADDRESS</h4>
                    <br><br>
                    <p> Avengers Mansion</p>
                    <p> 890 Fifth Avenue, Manhattan, New York City.</p>
                </div>
            </div>
        </div>
    </div>
</div>